// Font
$mainFontSize: 16px;
$mainFontWeight: 400;

// Colors
$darkColor: #333;
$grayColor: #777;
$hoverColor: #36baea;
$dangerColor: #ec0101;

// Padding
$sectionPadding: 50px;

// Transitions
$mainTransition: 0.3s;
$offcanvasTransition: 0.6s;